<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae amet quisquam laboriosam unde asperiores neque, iure itaque officia ab sint accusamus ex, doloremque culpa expedita nisi. Dignissimos, ea asperiores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fuga eos neque mollitia, quaerat dicta facere vero minus quam ipsam quasi! Ea aliquid impedit dignissimos vitae eum explicabo quod cum.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores minus dicta explicabo nihil, voluptas perspiciatis libero beatae adipisci distinctio, laudantium temporibus ducimus dolorem error, est iure repellat aliquid numquam vel!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>